<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/img/favicon-2.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300i,400,400i">

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/animations.css">

    <link rel="stylesheet" href="/css/spark/header.css">
    
    <% if (locals.css) { %>
        <%- css -%>
    <% } %>
    
    <title>Spark Homepage</title>
</head>
<body>
    <nav>
        <div id="left-nav">
            <h3>SPARK</h3>
            <img src="/img/favicon-2.png" id="logo" alt="spark-logo">
            <h3>Homepage</h3>
        </div>
        <div id="right-nav">
            <!-- put user name right in here -->
            <h3><%= user.name %></h3>
            <a href="/api/auth/logout" id="logout">Logout</a>
        </div>
    </nav>

    <% if (locals.css) { %>
        <input id="userInfo" type="text" style="display: none;" value="<%= JSON.stringify(user) %>">
    <% } %>
    
    <div class="main">
        <div class="sidebar">
            <div class="sidebar-tab" id="home">
                <a href="/spark" class="sidebar-tab-text"><i class="fas fa-home"></i>Home</a>
            </div>
            <div class="sidebar-tab" id="calendar">
                <a href="/spark/calendar" class="sidebar-tab-text"><i class="fas fa-calendar-alt"></i>Calendar</a>
            </div>
            <div class="sidebar-tab" id="committees">
                <a href="/spark/committees" class="sidebar-tab-text"><i class="fas fa-users"></i>Committees</a>
            </div>
            <div class="sidebar-tab" id="applications-control">
                <a href="/spark/application-controls" class="sidebar-tab-text"><i class="fas fa-file-alt"></i>Application Controls</a>
            </div>
            <div class="sidebar-tab" id="applications">
                <a href="/spark/applications" class="sidebar-tab-text"><i class="fas fa-file-alt"></i>Applications</a>
            </div>
            <div class="sidebar-tab" id="faq">
                <a href="/spark/faq" class="sidebar-tab-text"><i class="fas fa-question"></i>FAQ</a>
            </div>
        </div>