<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/header.css">
    <title>Spark Homepage</title>
</head>
<body>

    <nav>
        <div id="left-nav">
            <h3>SPARK</h3>
            <img src="./img/favicon-2.png" id="logo" alt="">
            <h3>Homepage</h3>
        </div>
        <div id="right-nav">
            <!-- put user name right in here -->
            <button id="logout">Logout</button>
        </div>
    </nav>

    <div class="sidebar">
        Side Bar Here
    </div>