.groupInterview {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}

.groupInterview p {
    width: 50%;
    text-align: justify;
}

.groupInterview h2 {
    margin-top: 50px;
    border-bottom: 3px solid #FBC02D;
    padding-bottom: 12px;
}

.groupinterview-signups {
    width: 75%;
}

.groupinterview-signups tr {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 50px 0;
    padding-bottom: 50px;
    border-bottom: 1px solid #555555;
}

.group-interview {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-interview h4 {
    font-weight: 400; /*used to be 300*/
    margin: 5px 0;
}

.group-interview ul {
    margin: 15px 0;
}

.group-interview ul li{
    font-weight: 400;
    color: #757575;
}

.group-interview button {
    font-size: 20px;
    font-weight: 400; /*used to be 300*/
    border: none;
    color: white;
    padding: 15px;
    min-width: 100px;
    border-radius: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sign-up {
    background-color: #4CAF50;
}

.signed-up {
    background-color: #FFC107;
}

.full {
    background-color: #0277BD;;
}