.groupActivity {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}

.groupActivity p {
    width: 50%;
    text-align: justify;
}

.groupActivity h2 {
    margin-top: 50px;
    border-bottom: 3px solid #FBC02D;
    padding-bottom: 12px;
}

.groupactivity-signups {
    width: 60%;
}

.groupactivity-signups tr{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.group-activity {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-activity h3 {
    font-weight: 700;
    margin: 15px 0;
}

.group-activity h4 {
    font-weight: 400; /*used to be 300*/
    margin: 7.5px 0;
}

.group-activity ul {
    margin: 0 0 35px 0;
    padding-left: 10px;
}

.group-activity ul li:first-child{
    margin-top: 10px;
}

.group-activity ul li{
    font-weight: 400;
    color: #757575;
}

.group-activity button {
    font-size: 20px;
    font-weight: 400; /*used to be 300*/
    border: none;
    color: white;
    padding: 15px;
    min-width: 100px;
    border-radius: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sign-up {
    background-color: #4CAF50;
}

.signed-up {
    background-color: #FFC107;
}

.full {
    background-color: #0277BD;;
}