<%- include ('../../partials/spark/header') %>

<div class="container">
    <h1 class="title" style="text-align: center;">Application Controls</h1>


    <div class="section">
        <h2 class="header">Written Application</h2>
        <div class="questions">
            <input id="question" type="text">            
        </div>
    </div>
</div>

<%- include ('../../partials/spark/footer') %>