* {
    height: 100vh;
}

html, body{
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    letter-spacing: 1px;
    scrollbar-width: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin: 75px 0 50px 0;
    width: 150px;
    height: 150px;
}

h4 {
    /* border-bottom: 1px solid #FBC02D; */
    text-align: left;
    margin: 0;
    height: 25px;
    font-weight: 300;
}

input {
    font-size: 16px;
    background-color: white;
    color: #555555;
    margin: 15px 0 15px 0;
    padding: 10px;
    height: 30px;
    width: 300px;
    outline: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 324px;
    height: 75px;
}

#login {
    color: #FBC02D;
    
    height: 50px;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid #FBC02D;
    background-color: transparent;
    border-radius: 30px;
    padding: 15px 20px;
    /* This margin is commented as I changed the justify content to space between */
    /* margin-right: 25px; */

    transition: background-color .2s;
}

#forgotpass {
    color: #FBC02D;

    height: 50px;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid #FBC02D;
    background-color: transparent;
    border-radius: 30px;
    padding: 15px 20px;
    
    transition: background-color .2s;
}

#login:hover {
    color: white;
    background: #FBC02D;
}

#forgotpass:hover {
    color: white;
    background: #FBC02D;
}
