/*
Orange Color: #e67e22
*/


/*--------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    letter-spacing: 1px;
    scrollbar-width: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18vh;
    width: 100vw;
}

#landing {
    /* this will be image of spark leaders doing smthn. possibly ppo picnic photo */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

nav img {
    display: flex;
    align-items: center;
    padding-left: 75px;
    justify-content: flex-start;
    height: 110px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    display: flex;
    justify-content: right;
    text-decoration: none;
    color: white;
    transition: border .25s;
    padding-bottom: 5px;
    border-bottom: solid 2px transparent;
    margin-right: 35px;
}

#apply {
    margin-right: 100px;
}

.nav-link:hover {
    border-bottom: solid 2px #FBC02D;
}

.learn-more {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding-top: 20px;
}

.learn-more p {
    padding-bottom: 15px;
}

.learn-more img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.acronym {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 25px;
    padding-left: 225px;
}

.acronym tr td h1 {
    margin: 10px;
}

.landing-buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 25px 0 0 235px;
}

#events, #questions {
    font-size: 20px;
    font-weight: 300;
    border: none;
    background-color: #FBC02D;
    color: white;
    border-radius: 30px;
    padding: 15px 20px;
    text-decoration: none;
}

#questions {
    margin-left: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    box-shadow: 0 2px 2px #efefef;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 9999;
    transition: opacity .2s;
}

.sticky .nav-link {
    color: #555555;
    font-size: 17px;
}

.sticky img {
    height: 50px;
}

.hidden {
    opacity: 0;
}

#about {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
}

#about h1 {
    margin-top: 75px;
    margin-bottom: 0px;
    font-weight: 300;
    height: 65px;
}

#about hr {
    width: 75px;
    border: 1px solid #FBC02D;
}

.paragraphs {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.mission {
    margin: 0 100px 0 100px;
    line-height: 28px;
}

.mission h2 {
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(150, 150, 150);
    margin-bottom: 20px;
    text-align: center;
}

.about {
    margin: 0 100px 0 100px;
    line-height: 32px;
}

.about h2 {
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(150, 150, 150);
    margin-bottom: 20px;
    text-align: center;
}

#images {
    height: 550px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50%;
}

.spark-image {
    width: 25vw;
    overflow: hidden;
    margin: 0;
    background-color: #000;
}

.spark-image img {
    opacity: 0.7;
    width: 100%;
    height: 100%;
    transition: transform 0.2s, opacity 0.5s;
    transform: scale(1.15);
}

.spark-image img:hover {
    opacity: 1;
    transform: scale(1.03);
}

#leaders {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#leaders h1 {
    margin-top: 75px;
    font-weight: 300;
}

#leaders hr {
    width: 75px;
    border: 1px solid #FBC02D;
}

.box {
    width: 100px;
    height: 100px;
    background-color: green;
}