#spark-calendar {
    max-width: 1200px;
}

.back {
    z-index: -1;
}

#spark-calendar td.fc-day, #spark-calendar td.fc-event-container {
    cursor: pointer;
}

#add-event-modal-title {
    margin-right: 5px;
}

.modal__close {
    cursor: pointer;
    outline: none;
}

#add-event-form {
    width: 100%;
    height: 100%;
}

.input-row {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 12.5px 0;
}

.input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input[type="text"], textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1.5px solid #29B6F6;
    width: 100%;
    color: rgba(0, 0, 0, 0.8)
}

.uneditable {
    border: 1.5px solid #9E9E9E !important;
}

#public, #event-public {
    margin-left: 10px;
}

textarea {
    width: 100%;
    min-height: 125px;
    resize: vertical;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

.hidden {
    display: none;
}