<div class="groupInterview">
    <h2>Group Interview Signups</h2>
    <p>Please choose a group interview session to sign up for. Please keep in mind the dates and mods while choosing. There can only be a maximum of four applicant per group interview. If you have any questions or concerns, please email us using the question button above.</p>

    <table class="groupinterview-signups">
        <tbody>
            <tr>
                <td class="group-interview">
                    <h4>Date: 10/20/20</h4>
                    <h4>Mods: 1-3</h4>
                    <h4>Room: Wilson</h4>
                    <h4>Applicants:</h4>
                    <ul>
                        <li>Alek</li>
                        <li>Miguel</li>
                    </ul>
                    <button class="signup">Sign Up</button>
                </td>
                <td class="group-interview">
                    <h4>Date: 10/20/20</h4>
                    <h4>Mods: 1-3</h4>
                    <h4>Room: Wilson</h4>
                    <h4>Applicants:</h4>
                    <ul></ul>
                    <button class="signup">Sign Up</button>
                </td>
                <td class="group-interview">
                    <h4>Date: 10/20/20</h4>
                    <h4>Mods: 1-3</h4>
                    <h4>Room: Pagano</h4>
                    <h4>Applicants:</h4>
                    <ul>
                        <li>Alek</li>
                        <li>Miguel</li>
                        <li>test</li>
                        <li>test</li>
                    </ul>
                    <button class="signup">Sign Up</button>
                </td>
                <td class="group-interview">
                    <h4>Date: 10/20/20</h4>
                    <h4>Mods: 1-3</h4>
                    <h4>Room: Wilson</h4>
                    <h4>Applicants:</h4>
                    <ul>
                        <li>Alek</li>
                        <li>Miguel</li>
                    </ul>
                    <button class="signup">Sign Up</button>
                </td>
            </tr>
            <tr>
                <td class="group-interview">
                    <h4>Date: 08/04/91</h4>
                    <h4>Mods: 22-24</h4>
                    <h4>Room: 1000</h4>
                    <h4>Applicants:</h4>
                    <ul>
                        <li>Alek</li>
                        <li>Miguel</li>
                        <li>test</li>
                    </ul>
                    <button class="signup">Sign Up</button>
                </td>
                <td class="group-interview">
                    <h4>Date: 08/04/91</h4>
                    <h4>Mods: 22-24</h4>
                    <h4>Room: 1000</h4>
                    <h4>Applicants:</h4>
                    <ul>
                        <li>Alek</li>
                        <li>Miguel</li>
                        <li>test</li>
                    </ul>
                    <button class="signup">Sign Up</button>
                </td>
                <td class="group-interview">
                    <h4>Date: 08/04/91</h4>
                    <h4>Mods: 22-24</h4>
                    <h4>Room: 1000</h4>
                    <h4>Applicants:</h4>
                    <ul>
                        <li>Alek</li>
                        <li>Miguel</li>
                        <li>test</li>
                        <li>test</li>
                    </ul>
                    <button class="signup">Sign Up</button>
                </td>
                <td class="group-interview">
                    <h4>Date: 08/04/91</h4>
                    <h4>Mods: 22-24</h4>
                    <h4>Room: 1000</h4>
                    <h4>Applicants:</h4>
                    <ul></ul>
                    <button class="signup">Sign Up</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>