<div class="groupActivity">
    <h2>Group Activity Signups</h2>
    <p>These are the signups for the group activity portion of the application. They will take place after school, so please make sure the you have enough time to attend. It would be much appreciated if all of you could keep the two dates pretty balanced. If there are any questions or concerns, please use the question button above.</p>

    <table class="groupactivity-signups">
        <tbody>
            <tr>
                <td class="group-activity">
                    <h3>Group Activity 1</h3>
                    <h4>Date: 11/24/67</h4>
                    <h4>Room: Lower Caf</h4>
                    <h4>Start Time: 4:20 PM</h4>
                    <h3>Applicants:</h3>
                    <ul>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                    </ul>
                    <button class="signup">Sign Up</button>
                </td>
                <td class="group-activity">
                    <h3>Group Activity 2</h3>
                    <h4>Date: 11/25/67</h4>
                    <h4>Room: Lower Caf</h4>
                    <h4>Start Time: 4:20 PM</h4>
                    <h3>Applicants:</h3>
                    <ul>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                    </ul>
                    <button class="signup">Sign Up</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>