<div class="individual">
    <h2>Individual Interview Signup</h2>

    <table class="individual-signups">
        <thead>
            <tr>
                <td id="monday">Monday</td>
                <td id="tuesday">Tuesday</td>
                <td id="wednesday">Wednesday</td>
                <td id="thursday">Thursday</td>
                <td id="friday">Friday</td>
            </tr>
        </thead>
        <tbody>
            <tr class="mods">
                <td class="monday"><input type="checkbox"> 1-3</td>
                <td class="tuesday"><input type="checkbox"> 1-3</td>
                <td class="wednesday"></td>
                <td class="thursday"><input type="checkbox"> 1-3</td>
                <td class="friday"><input type="checkbox"> 1-3</td>
            </tr>
            <tr class="mods">
                <td class="monday"><input type="checkbox"> 4-6</td>
                <td class="tuesday"><input type="checkbox"> 4-6</td>
                <td class="wednesday"></td>
                <td class="thursday"><input type="checkbox"> 4-6</td>
                <td class="friday"><input type="checkbox"> 4-6</td>
            </tr>
            <tr class="mods">
                <td class="monday"><input type="checkbox"> 7-9</td>
                <td class="tuesday"><input type="checkbox"> 7-9</td>
                <td class="wednesday"></td>
                <td class="thursday"><input type="checkbox"> 7-9</td>
                <td class="friday"><input type="checkbox"> 7-9</td>
            </tr>
            <tr class="mods">
                <td class="monday"><input type="checkbox"> 10-12</td>
                <td class="tuesday"><input type="checkbox"> 10-12</td>
                <td class="wednesday"></td>
                <td class="thursday"><input type="checkbox"> 10-12</td>
                <td class="friday"><input type="checkbox"> 10-12</td>
            </tr>
            <tr class="mods">
                <td class="monday"><input type="checkbox"> 13-15</td>
                <td class="tuesday"><input type="checkbox"> 13-15</td>
                <td class="wednesday"></td>
                <td class="thursday"><input type="checkbox"> 13-15</td>
                <td class="friday"><input type="checkbox"> 13-15</td>
            </tr>
            <tr class="mods">
                <td class="monday"><input type="checkbox"> 16-18</td>
                <td class="tuesday"><input type="checkbox"> 16-18</td>
                <td class="wednesday"></td>
                <td class="thursday"><input type="checkbox"> 16-18</td>
                <td class="friday"><input type="checkbox"> 16-18</td>
            </tr>
            <tr class="mods">
                <td class="monday"><input type="checkbox"> 19-21</td>
                <td class="tuesday"><input type="checkbox"> 19-21</td>
                <td class="wednesday"></td>
                <td class="thursday"><input type="checkbox"> 19-21</td>
                <td class="friday"><input type="checkbox"> 19-21</td>
            </tr>
            <tr class="mods">
                <td class="monday"><input type="checkbox"> 22-24</td>
                <td class="tuesday"><input type="checkbox"> 22-24</td>
                <td class="wednesday"></td>
                <td class="thursday"><input type="checkbox"> 22-24</td>
                <td class="friday"><input type="checkbox"> 22-24</td>
            </tr>
            <tr class="mods">
                <td class="monday"><input type="checkbox"> 25-27</td>
                <td class="tuesday"><input type="checkbox"> 25-27</td>
                <td class="wednesday"></td>
                <td class="thursday"><input type="checkbox"> 25-27</td>
                <td class="friday"><input type="checkbox"> 25-27</td>
            </tr>
        </tbody>
    </table>

    <button id="save">Save for Later</button>
</div>