<div class="individual-details">
    <h2>Individual Interview Information</h2>
    <p>Thank you for providing your availability in the previous stage. Below is the information for you individual interview. Please be on time and meet outside Mrs. Sytsma's room with your SPARK leader.</p>

    <table id="information">
        <thead>
            <th class="date">Date</th>
            <th class="time">Time</th>
            <th class="leader">SPARK Leader</th>
        </thead>
        <tbody>
            <tr>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
            </tr>
            <tr>
                <td class="date"><%= user.applicant_data.individual_interview.interview_date %></td>
                <td class="time"><%= user.applicant_data.individual_interview.interview_time %></td>
                <td class="leader"><%= user.applicant_data.individual_interview.interviewer.firstname %></td>
            </tr>
        </tbody>
    </table>
</div>