<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <link rel="stylesheet" href="http://localhost:8000/css/main/reset_password_template-email.css">

    <div class="container">
        <div class="email-container">
            <div class="head">
                <img src="http://localhost:8000/img/bca-logo-2.png" alt="bca-logo-2">
                <h1>Spark</h1>
            </div>

            <hr>
    
            <div class="main">
                <p>Hi <% name %>,</p>
                <p>A password reset for your account was requested.</p>
                <p>Please click the button below to change your password.</p>
                <a href="<% url %>">Change Your Password</a>
            </div>
        </div>
    </div>
</body>
</html>