h4 {
    margin: 0;
}

p {
    margin: 10px 0;
}

td a {
    text-decoration: none;
    color: #1976D2;
    cursor: pointer;
}

.breakdown {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.academies {
    width: 50%;
}

.genders {
    width: 50%;
}

.main .container.applications {
    padding: 75px;
}

.applicants {
    border-spacing: 0;
}

thead tr td {
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 2px solid #FBC02D;
}

.name {
    width: 16%;
}

.gender {
    width: 8%;
    text-align: center;
}

.academy {
    width: 8%;
    text-align: center;
}

.written {
    width: 18.6%;
    text-align: center;
}

.individual {
    text-align: center;
    width: 18.6%;
}

.group {
    text-align: center;
    width: 18.6%;
}

.total {
    text-align: center;
    width: 6%;
}

.cut {
    text-align: center;
    width: 6%;
}

.cut-button {
    font-size: 18px;
    font-weight: 300;
    border: none;
    background-color: red;
    color: white;
    border-radius: 30px;
    padding: 8px 10px;
    text-decoration: none;
    cursor: pointer;
}

.applicant-row {
    height: 75px;
}

.applicant-row td{
    border-bottom: 1px solid rgba(132,132,132,.75);
}

.grade-button {
    font-size: 18px;
    font-weight: 300;
    border: none;
    background-color: #FBC02D;
    color: white;
    border-radius: 30px;
    padding: 8px 10px;
    text-decoration: none;
    cursor: pointer;
}

.progression {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#next-stage {
    font-size: 20px;
    font-weight: 300;
    border: none;
    background-color: rgb(116,200,96);
    color: white;
    border-radius: 30px;
    padding: 10px 12px;
    text-decoration: none;
    cursor: pointer;
    margin: 15px 0;
    margin-right: 30px;
}

#accept-applicants {
    font-size: 20px;
    font-weight: 300;
    border: none;
    background-color: #2196F3;
    color: white;
    border-radius: 30px;
    padding: 10px 12px;
    text-decoration: none;
    cursor: pointer;
    margin: 15px 0;
    margin-right: 30px;
}

#open-applications {
    font-size: 20px;
    font-weight: 300;
    border: none;
    background-color: #2196F3;
    color: white;
    border-radius: 30px;
    padding: 10px 12px;
    text-decoration: none;
    cursor: pointer;
    margin: 15px 0;
    margin-right: 30px;
}

.title {
    text-align: center;
}

.table-title {
    width: 100%;
    text-align: center;
    margin-top: 75px;
    padding-bottom: 15px;
    font-weight: 400;
}

/*Cut written table */
.cut-written {
    border-spacing: 0;
    width: 100%;
}

.nameW {
    width: 25%;
}

.academyW {
    width: 15%;
    text-align: center;
}

.genderW {
    width: 15%;
    text-align: center;
}

.writtenW {
    width: 25%;
    text-align: center;
}

.totalW {
    width: 20%;
    text-align: center;
}

/*Cut Individual Table */
.cut-individual {
    border-spacing: 0;
    width: 100%;
}

.nameI {
    width: 20%;
}

.academyI {
    width: 10%;
    text-align: center;
}

.genderI {
    width: 10%;
    text-align: center;
}

.writtenI {
    width: 25%;
    text-align: center;
}

.individualI {
    text-align: center;
    width: 25%;
}

.totalI {
    width: 10%;
    text-align: center;
}

/*Cut Group Interview and Group Activity Tables */
.cut-group {
    border-spacing: 0;
    width: 100%;
}

.nameG {
    width: 16%;
}

.academyG {
    width: 8%;
    text-align: center;
}

.genderG {
    width: 8%;
    text-align: center;
}

.writtenG {
    width: 20%;
    text-align: center;
}

.individualG {
    text-align: center;
    width: 20%;
}

.groupG {
    text-align: center;
    width: 20%;
}

.totalG {
    width: 8%;
    text-align: center;
}

/* GRADE MODAL */

.back {
    z-index: -1;
}

.hidden {
    display: none;
}

#grade-modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grade-modal-form .input-field {
    margin: 10px 0;
}

#grade-modal-form input {
    width: 100px;
    padding: 10px;
    margin-left: 15px;
    text-align: center;
}

.textarea-field {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

#comments-label {
    text-align: center;
}

#comments { 
    padding: 10px;
}

#grade-modal-form  textarea {
    resize: vertical;
    width: 100%;
    height: 150px;
    color: #424242;
    font-size: 18px;
}

#grade-modal-form button {
    margin-top: 15px;
    font-size: 20px;
    padding: 15px;
}

#modal-submit {
    color: white;
    background-color: #43A047;
}