.back {
    z-index: -1;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grade-modal-form .input-field {
    margin: 10px 0;
}

#grade-modal-form input {
    width: 100px;
    padding: 10px;
    margin-left: 15px;
    text-align: center;
}

.textarea-field {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

#comments-label {
    text-align: center;
}

#comments { 
    padding: 10px;
}

#grade-modal-form  textarea {
    resize: vertical;
    width: 100%;
    height: 150px;
    color: #424242;
    font-size: 18px;
}

#grade-modal-form button {
    margin-top: 15px;
    font-size: 20px;
    padding: 15px;
}

#modal-submit {
    color: white;
    background-color: #43A047;
}

.individual-grade {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    border-bottom: 2px solid #FBC02D;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

#information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#information p:first-of-type {
    margin-left: 10px;
}

#information p {
    margin: 0 5px;
}

form#save-questions {
    width: 80%;
}

.question {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.questions {
    width: 82%;
    padding: 5px;
}

.grades {
    width: 15%;
    text-align: center;
    padding: 5px;
}

.responses {
    width: 100%;
    min-height: 150px;
    padding: 10px;
    resize: vertical;
}

.buttons button {
    margin-top: 25px;
    color: white;
    font-weight: 500;
    background-color: #FBC02D;
    border: none;
    padding: 15px 18px;
    border-radius: 25px;
    cursor: pointer;
}

#grade {
    margin-left: 10px;
}