<%- include ('../../partials/spark/header') %>

<div class="container applications">
    <h1 class="title">Applications</h1>

    <table class="applicants">
        <thead>
            <tr>
                <td class="name">Name</td>
                <td class="gender">Gender</td>
                <td class="academy">Academy</td>
                <td class="written">Written Application</td>
                <td class="individual">Individual Interview</td>
                <td class="group">Group Interview</td>
                <td class="total">Total</td>
            </tr>                
        </thead>
        <tbody>
            <tr class="applicant-row">
                <td class="name">Alek Kaluza</td>
                <td class="gender">Male</td>
                <td class="academy">ATCS</td>
                <td class="written"><a href="#" class="grade-button">Grade</a></td>
                <td class="individual"><a href="#" class="grade-button">Grade</a></td>
                <td class="group"><a href="#" class="grade-button">Grade</a></td>
                <td class="total">Sum</td>
            </tr>
            <tr class="applicant-row">
                <td class="name">Miguel Roberts</td>
                <td class="gender">Male</td>
                <td class="academy">ATCS</td>
                <td class="written"><a href="#" class="grade-button">Grade</a></td>
                <td class="individual"><a href="#" class="grade-button">Grade</a></td>
                <td class="group"><a href="#" class="grade-button">Grade</a></td>
                <td class="total">Sum</td>
            </tr>
            <tr class="applicant-row">
                <td class="name">Mr. Respass</td>
                <td class="gender">Male</td>
                <td class="academy">ATCS</td>
                <td class="written"><a href="#" class="grade-button">Grade</a></td>
                <td class="individual"><a href="#" class="grade-button">Grade</a></td>
                <td class="group"><a href="#" class="grade-button">Grade</a></td>
                <td class="total">Sum</td>
            </tr>
            <tr class="applicant-row">
                <td class="name">Mr. Isecke</td>
                <td class="gender">Male</td>
                <td class="academy">ATCS</td>
                <td class="written"><a href="#" class="grade-button">Grade</a></td>
                <td class="individual"><a href="#" class="grade-button">Grade</a></td>
                <td class="group"><a href="#" class="grade-button">Grade</a></td>
                <td class="total">Sum</td>
            </tr>
            <tr class="applicant-row">
                <td class="name">Mr. Wang</td>
                <td class="gender">Male</td>
                <td class="academy">ATCS</td>
                <td class="written"><a href="#" class="grade-button">Grade</a></td>
                <td class="individual"><a href="#" class="grade-button">Grade</a></td>
                <td class="group"><a href="#" class="grade-button">Grade</a></td>
                <td class="total">Sum</td>
            </tr>
        </tbody>
    </table>

</div>

<%- include ('../../partials/spark/footer') %>