<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/img/spark-logo.jpg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300i,400,400i">

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/animations.css">

    <link rel="stylesheet" href="/css/applicant/header.css">
    
    <% if (locals.css) { %>
        <%- css -%>
    <% } %>
    
    <title><%= title %></title>
</head>
<body>

    <nav>
        <div id="left-nav">
            <h3>Applicant</h3>
            <img src="/img/spark-logo.jpg" id="logo" alt="spark-logo">
            <h3>Portal</h3>
        </div>
        <div id="right-nav">
            <!-- put user name right in here -->
            <h3><%= user.name %></h3>
            <a href="" id="question">Question?</a>
            <a href="/api/auth/logout" id="logout">Logout</a>
        </div>
    </nav>

    <% if (locals.user) { %>
        <input id="userInfo" type="text" style="display: none;" value="<%= JSON.stringify(user) %>">
    <% } %>

    <div class="main">